#form {
  position: relative; /* Added */
  display: grid;
  place-items: center;
  width: 300px;
  height: 500px;
  padding: 25px;
  background-color: #0e1e29;
  box-shadow: 0px 1px 20px #00d5ff;
  outline: 1px solid #00d5ff;
  border-radius: 10px;
  left: 300px;
  top: 200px;
}
.success-message {
  color: green;
  font-size: 16px;
  margin-top: 10px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

#form-body {
  position: absolute;
  top: 50%; /* Centered vertically */
  right: 25px;
  left: 25px;
  width: 300px; /* Increased width */
  margin: auto;
}

#welcome-lines {
  text-align: center;
  line-height: 1;
}

#welcome-line-1 {
  color: #00d5ff;
  font-weight: 600;
  font-size: 40px;
}

#welcome-line-2 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 17px;
}

#input-area {
  margin-top: 40px;
}

.form-inp {
  padding: 10px 25px;
  margin-bottom: 15px;
  background: transparent;
  border: 1px solid #00d5ff;
  line-height: 1;
  border-radius: 8px;
}

.form-inp input,
.form-inp select {
  width: 100%;
  background: none;
  font-size: 13.4px;
  color: #00d5ff;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  appearance: none;
  outline: none;
}

.form-inp:focus-within {
  border: 1px solid #00d5ff;
}

#submit-button-cvr {
  margin-top: 20px;
}

#submit-button {
  display: block;
  width: 100%;
  color: #00d5ff;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid #00d5ff;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

#submit-button:hover {
  background-color: #00d5ff;
  color: #161616;
}

.error {
  color: #ff0000;
  font-size: 12px;
}